body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    border: 3px solid black;
}

.sudoku-cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-sizing: border-box;
    text-align: center;
}

.sudoku-cell:nth-child(3n) {
    border-right: 2px solid black;
}

.sudoku-cell:nth-child(9n) {
    border-right: none;
}

.sudoku-board > .sudoku-cell:nth-child(n+19):nth-child(-n+27),
.sudoku-board > .sudoku-cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid black;
}

.given {
    font-weight: bold;
    color: #333;
}