body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.main-container {
    display: flex;
    align-items: flex-start;
    gap: 40px;
}

.controls-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#controls button {
    display: block;
    width: 150px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
}

#keypad-container {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    gap: 5px;
}

.keypad-btn {
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
}

.sudoku-board {
    display: grid;
    grid-template-columns: repeat(9, 50px);
    grid-template-rows: repeat(9, 50px);
    border: 3px solid black;
}

.sudoku-cell {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    box-sizing: border-box;
    text-align: center;
    background-color: #fff;
}

.sudoku-cell:nth-child(3n) {
    border-right: 2px solid black;
}

.sudoku-cell:nth-child(9n) {
    border-right: none;
}

.sudoku-board > .sudoku-cell:nth-child(n+19):nth-child(-n+27),
.sudoku-board > .sudoku-cell:nth-child(n+46):nth-child(-n+54) {
    border-bottom: 2px solid black;
}

.given {
    background-color: #eee;
    font-weight: bold;
    color: #333;
}

.highlight {
    background-color: #a8d1ff;
}
